[Desktop Entry]
Name=SteamDeck TDP
Comment=Ryzenadj minimalistic gui

Type=Service
Icon=new-command-alarm
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=FENZIGO
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL-3.0-or-later
